* {
    box-sizing: border-box;
}

.londrina-shadow-regular {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: black;
}

div {
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    display: flex;
    border: 3px solid black;
    height: 400px;
    justify-content: space-around;
}

.grid {
    display: flex;
    width: 600px;
    height: 600px;
    height: 100%;
    flex-wrap: wrap;
    border: 1px solid white;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.grid div {
    display: flex;
    flex-grow: 1;
    width: 4%;
    height: 4%;
}

.player {
    background-color: green;
}

.alien {
    background-color: yellow;
}

.bullet {
    background-color: peru;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 72px;
    text-align: center;
    color: white;
    height: 50px;
    font-family: "Pixelify Sans", sans-serif;
}

p {
    color: white;
}

.scoredisplay {
    display: flex;
    margin-right: 200px;
    width: 200px;
}

.design {
    margin-left: 28px;
    margin-right: 250px;
    justify-content: space-between;
    align-content: center;
    font-family: "Pixelify Sans", sans-serif;
}

.alienbullet {
    background-color: red;
}

#about {
    background-color: #020281;
    display: flex;
    color: white;
    width: 300px;
    flex-direction: column;
    font-size: 20px;
    padding-left: 10px;
    font-family: "Pixelify Sans", sans-serif;
}

#commands {
    background-color: #020281;
    display: flex;
    color: white;
    width: 300px;
    flex-direction: column;
    font-size: 20px;
    padding-left: 10px;
    font-family: "Pixelify Sans", sans-serif;
}