* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

div {
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    display: flex;
    border: 3px solid black;
    height: 400px;
}

.grid {
    display: flex;
    width: 600px;
    height: 600px;
    height: 100%;
    flex-wrap: wrap;
    border: 1px solid white;
}

.grid div {
    display: flex;
    flex-grow: 1;
    width: 4%;
    height: 4%;
}

.player {
    background-color: blue;
}

.alien {
    background-color: yellow;
}

.bullet {
    background-color: peru;
}

h1 {
    font-size: 72px;
    text-align: center;
    color: white;
}

p {
    color: white;
}