* {
    box-sizing: border-box;
}

.grid-wrapper {
    display: flex;
    border: 3px solid black;
    height: 600px;
}

.grid {
    display: flex;
    width: 600px;
    height: 600px;
    height: 100%;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid div {
    flex-grow: 1;
    width: 4%;
    height: 4%;
}

.player {
    background-color: blue;
}

.alien {
    background-color: yellow;
}